@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */
body {
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    font-family: 'Inter', sans-serif;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}

input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}

.sort-direction {
    margin-left: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.icon-asc:after {
    content: '↑'; /* Ou utiliser une icône plus appropriée */
}

.icon-desc:after {
    content: '↓'; /* Ou utiliser une icône plus appropriée */
}

.icon-none:after {
    content: ''; /* Aucune indication de tri */
}

