@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */
body {
    background: linear-gradient(to right, #f8fafc, #f1f5f9);
    font-family: 'Inter', sans-serif;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}

input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}
